@import './font-awesome/scss/font-awesome.scss';

@font-face {
  font-family: 'FontAwesome';
  src: url('../../public/fonts/fontawesome-webfont.eot');
  src: url('../../public/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../../public/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../../public/fonts/fontawesome-webfont.woff') format('woff'),
    url('../../public/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../../public/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  /*src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Medium.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

$darkGray: #303030;
$red: #CF155B;
$midBlue: #0fb8ad;
$darkBlue: #1fc8db;
$lightBlue: #2cb5e8;

$gradient: linear-gradient(141deg, $midBlue 0%, $darkBlue 51%, $lightBlue 75%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: $darkGray;
  color: white;
  font-weight: 200;
}

body, html, #app {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: white;
  background-color: $midBlue;
  padding: 10px;
  border-radius: 3px;

  &:hover, &:active {
    cursor: pointer;
    background-color: $lightBlue;
  }
}

h1,h2,h3,h4,h5 {
  font-weight: 200;
}

$loadingCube: 15px;

@mixin rotateAnimation($dir) {
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
      opacity: 1;
    }
    100% {
      @if $dir == 'right' { transform: rotateY(180deg); }
      @if $dir == 'down' { transform: rotateX(180deg); }
      @if $dir == 'left' { transform: rotateX(-180deg); }
      @if $dir == 'up' { transform: rotateY(-180deg); }
      opacity: 0;
    }
  }
}

// loading animation via http://tobiasahlin.com/spinkit/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $lightBlue;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

#MenuBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 25px;
  background-color: darken($darkGray, 5%);
  border-bottom: 1px solid lighten($darkGray, 5%);
  padding: 5px 0;
  font-size: 0.75em;
  text-align: center;
}

$tabsHeight: 60px;
$transSpeed: 0.4s;

#tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 133%;
  height: $tabsHeight;
  background: $gradient;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*margin-right: 1em;*/
    /*padding: 0 200px;*/
    transition: all $transSpeed;
    flex-grow: 1;

    &.playing {
      flex-grow: 3;
    }

    a {
      height: 100%;
      flex-grow: 1;
    }

    li {
      position: relative;
      display: inline-block;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:active {
        background-color: rgba(47, 47, 47, 0.6);
      }

      i, p {
        position: relative;
        z-index: 2;
      }

      i {
        display: block;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 5px;
      }

      p {
        font-size: 0.75em;
      }
    }
  }
}

.tab-view {
  padding: 0 1em;
}

.back-button {
  transition: all 0.2s;
}

#mediaPlayer {
  transition: $transSpeed;
  flex-grow: 0.001;

  &.playing {
    flex-grow: 4;
    margin-right: 27%;
  }

  i {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*&:not(:last-child) {
      margin-right: 18px;
    }*/

    &.fa-play, &.fa-pause {
      font-size: 24px;
      border-right: 1px solid rgba(white, 0.5);
      border-left: 1px solid rgba(white, 0.5);
      /*margin-right: 15px;*/
    }
    &.fa-backward {
      border-left: 1px solid rgba(white, 0.5);
    }
    &.fa-forward {
      border-right: 1px solid rgba(white, 0.5);
    }
    &:not(.fa-play) {
      font-size: 18px;
    }
  }
}

#controls {
  display: flex;
  align-items: center;
}

#buttons {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrubber {
  flex-grow: 4;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input-range {
    width: 90%;
  }

  .input-range-track {
    background-color: rgba(white, 0.5);
    height: 3px;
    width: 100%;
    position: relative;
    box-sizing: content-box;
  }

  .input-range-slider-thumb {
    width: 18px;
    height: 18px;
    position: absolute;
    transform: translateX(-9px);
    top: -7px;
    left: 0;
    border-radius: 50%;
    background-color: white;

    &::before {
      content: "";
      display: inline-block;
      position: relative;
      width: 12px;
      height: 12px;
      transform: translateX(2.5px);
      background: -webkit-linear-gradient(bottom, white, #ccc);
      border-radius: 50%;
    }
  }

  /*input {
    width: 90%;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: white;
      background: linear-gradient(#ccc, white);
      height: 18px;
      width: 18px;
      border: 4px solid white;
      margin-top: -7px;
      border-radius: 50%;
    }

    &::-webkit-slider-runnable-track {
      background-color: rgba(white, 0.5);
      height: 3px;
    }

    &:focus {
      outline: none;
    }
  }*/
}

#times {
  width: 90%;
  margin-top: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Home

#home {
  padding: 25px 0 0 0;
  height: calc(100% - 60px);
  overflow: hidden;
}

.view {
  height: calc(100vh - 60px - 25px);

  &#music {
    width: 200%;
  }
}

// Settings

#Settings {
  h1 {
    margin-bottom: 0.5em;
  }

  i[class*="gear"] {
    margin-right: 0.5em;
  }

  .form-group {
    margin-bottom: 0.75em;
  }

  label {
    text-transform: capitalize;
    margin-bottom: 5px;
    display: inline-block;
  }

  input {
    width: 100%;
    background-color: lighten($darkGray, 5%);
    padding: 15px 10px;
    color: white;
    border: none;
    border-bottom: 1px solid lighten($darkGray, 15%);
    border-right: 1px solid lighten($darkGray, 15%);
    box-shadow: inset 1px 2px 4px rgba(darken($darkGray, 15%), 0.5);
    margin-bottom: 1em;
    border-radius: 3px;
  }
}

#saving-settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(black, 0.7);
  width: 100%;
  height: 100%;

  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h3 {
      margin-bottom: 1em;
    }
  }
}

// Media

#music {
  transition: all 0.3s;
}

.slide {
  width: 300%;
  transition: all 0.27s;

  &.albums > #albums, &.songs > #albums {
    transform: translateX(-100%);
    /*transform: translateX(-100vw);*/
  }

  &.songs > #songs {
    transform: translateX(-200%);
  }

  &.album-songs > #all-albums-songs {
    transform: translateX(-100%); 
  }
}

.side-bar {
  float: left;
  height: 100%;
  width: 75px;
  box-shadow: 0 6px 8px rgba(black, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  background-color: $darkGray;
  padding-top: 25px;
  z-index: 5;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;

    &.active {
      background: $gradient;
    }

    i {
      font-size: 2em;
      margin-bottom: 7px;
    }
  }

  .cd {
    background-image: url('../../public/images/cd.png');
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
  }
}

.view-pane {
  float: left;
  padding-bottom: 150px;
  width: calc(100vw - 75px);
  background-color: $darkGray;
  transition: all 0.2s;
  height: 100vh;
  overflow-y: scroll;

  &:nth-child(1) {
    margin-left: 75px;
  }
}

@for $i from 0 through 3 {
  .view-pane:nth-child(#{$i}) {
    z-index: #{$i};
  }
}

.media-list {
  list-style: none;
  
  .item-list {
    /*padding: 1em;*/
    border-bottom: 1px solid lighten($darkGray, 10%);
    height: 50px;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .song-details {
      float: right;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .each {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i {
        margin-left: 0.5em;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        margin-left: 1em;
      }
    }

    img {
      height: 18px;
    }
  }
}

.album-list {

  .album-art {
      display: inline-block;
      margin-right: 1em;

      img {
        width: 250px;
      }
    }

  li {
    padding: 1em;
    border-bottom: 1px solid lighten($darkGray, 10%);
  }
}

.album-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lighten($darkGray, 10%);
  padding-bottom: 1.5em;

  h1, h3 {
    font-weight: 100;
  }
}

.album-songlist {
  list-style: none;
}

#all-albums {

  .media-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      width: calc(99% / 3);

      img {
        width: 100%;
      }
    }
  }
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}